@model ApplicationUser;
@{
    Layout = null;
}

<li class="nav-item dropdown dropdown-user">
    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
       @if (Model.ImageUrl != null)
       {
            <img src="~/images/UsersProfile/@Model.ImageUrl" class="rounded-circle mr-2" height="34" alt="@Model.UserName">
       }
       else
       {
            <img src="~/LimitlessAssets/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="@Model.UserName">
       }
        <span>@Model.UserName</span>
    </a>

    <div class="dropdown-menu dropdown-menu-right">
        <a asp-action="Profile" asp-controller="Users" asp-area="Panel" asp-route-userName="@Model.UserName" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
        <a asp-action="EditProfile" asp-controller="Users" asp-area="Panel" asp-route-userName="@Model.UserName" class="dropdown-item"><i class="icon-pencil4"></i>Edit Profile</a>
        <a asp-action="Inbox" asp-controller="Emails" asp-area="Panel" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">@Model.ReceivedEmail.Where(c => c.IsRead == false).Count()</span></a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
        <form id="signout-form" asp-action="SignOut" asp-controller="Accounts" asp-area="@null" method="post">
        <a href="javascript:{}" onclick="document.getElementById('signout-form').submit();" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
        </form>
    </div>
</li>